# Required runtime variables
DB_MONGO_LOCAL=false
DB_MONGO_URI=mongodb://mongo:27017/unifi
STATDB_MONGO_URI=mongodb://mongo:27017/unifi_stat
UNIFI_DB_NAME=unifi

# Optional runtime variables
TZ=America/Chicago
DOCKER_RESTART_POLICY=unless-stopped
UNIFI_PORTAL_HEALTHCHECK_TEST=curl localhost:8080/status
